# MySQL in Python

This notebook shows how to operate MySQL in Python.

## Installation

- Install MySQL server and set it up. Community version, which is free, is sufficient. Remember your setup: username and password.
- Install MySQL Workbench (optional).

## Let's get started

In Python environment, we first establish a connection to the MySQL server.

In [1]:
# load packages
import mysql.connector

# establish connection to the server
connection = mysql.connector.connect(host='localhost',user='root',password='1234')

# verify connection
connection.is_connected()

True

For any querying, we create a `cursor` pointing to the connection. Then, we `execute` any MySQL clause.

In [2]:
# cursor pointing to the connection
cursor = connection.cursor()

# execute any MySQL clause
# we first create a new database
cursor.execute('CREATE DATABASE IF NOT EXISTS db_test')
cursor.execute('SHOW DATABASES')
for i in cursor:
    print(i)

('db_test',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

To get inside the database, we must establish a new connection which connects to the database.

In [3]:
connection = mysql.connector.connect(host='localhost', user='root', password='1234', database='db_test')

Then, we create a cursor, and start playing with the tables.

In [4]:
# our database is new, and there is no table inside.
cursor = connection.cursor()
cursor.execute('SHOW TABLES')
for i in cursor:
    print(i)

In [5]:
# create a new table
cursor.execute('CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))')
cursor.execute('SHOW TABLES')
for i in cursor:
    print(i)

('customers',)

In [6]:
# add a primary key
cursor.execute('ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY')
cursor.execute('DESCRIBE customers')
for i in cursor:
    print(i)

('name', 'varchar(255)', 'YES', '', None, '')
('address', 'varchar(255)', 'YES', '', None, '')
('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment')

In [7]:
# add one row
clause = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = ('John', 'Friday 13')
cursor.execute(clause, val)
cursor.execute('SELECT * FROM customers')
for i in cursor:
    print(i)

('John', 'Friday 13', 1)

In [8]:
# add many rows with executemany
clause = 'INSERT INTO customers (name, address) VALUES (%s, %s)'
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]
cursor.executemany(clause, val)
cursor.execute('SELECT * FROM customers')
for i in cursor:
    print(i)

('John', 'Friday 13', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)

In [9]:
# other clauses can be executed in a similar fashion.
cursor.execute('SELECT * FROM customers LIMIT 1')
for i in cursor:
    print(i)

('John', 'Friday 13', 1)

In [10]:
cursor.execute('SELECT id,address FROM customers WHERE name LIKE "%y"')
for i in cursor:
    print(i)

(3, 'Apple st 652')
(6, 'Ocean blvd 2')
(7, 'Green Grass 1')
(10, 'Yellow Garden 2')

In [11]:
# commit to the database to save the changes
connection.commit()

In [12]:
# close
cursor.close()
connection.close()

This last section is to clear everything out of the database, so that the notebook can be rerun.

In [13]:
connection = mysql.connector.connect(host='localhost', user='root', password='1234', database='db_test')
cursor = connection.cursor()
cursor.execute('DROP DATABASE db_test')
cursor.close()
connection.close()